/* line 2, ../../stylesheets/partials/_base.scss */
.materials .swatch {
  width: 100%;
  height: 46px;
  background-size: cover;
}

/* line 9, ../../stylesheets/partials/_base.scss */
.preview {
  border: 0;
  display: block;
  height: 480px;
  background: url('../images/photo.jpg?1390235167') center center no-repeat;
  background-size: cover;
}
