/* line 2, ../../stylesheets/partials/_base.scss */
.materials .swatch {
  width: 100%;
  height: 46px;
  background-size: cover;
}

/* line 9, ../../stylesheets/partials/_base.scss */
.preview {
  border: 0;
  display: block;
  padding-bottom: 75%;
  background: url('../images/photo.jpg?1390235167') center center no-repeat;
  background-size: cover;
  margin-bottom: 1em;
}

/* line 18, ../../stylesheets/partials/_base.scss */
.debug {
  opacity: 0;
  -moz-transition: 0.5s ease opacity;
  -o-transition: 0.5s ease opacity;
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
}
/* line 22, ../../stylesheets/partials/_base.scss */
.debug:hover {
  opacity: 1;
}
