<div class="page-header">
    <h1>Ciphering <small>personalised shadow cast jewellery</small></h1>
</div>

<p>Ciphering is a piece of jewellery, whose form directly represents the message encoded in it. When the slits on its surface are aligned, it reveals the hidden digits that define its form, either casting a shadow, or seen as a silhouette on its surface.</p>
<p>This algorithmic ring explores the "aura of the digitally manufactured", trying to balance the meaning between the designer and the user. The designer is responsible for the general form but the "meaning" is cast by the client.</p>
<p>The manufacturing process combines the old and then new: First, the forms are created with a lost-wax casting process using a high-resolution 3D wax printer. The 3D printed wax model is put in a container and liquid plaster is poured around it to create a mold. After the plaster sets, the wax is melted out in a furnace, and molten silver or bronze is poured into the plaster mold. The plaster is then pulled away to reveal the noble metal and the finished product is polished for a smooth surface.</p>

<hr>

<p class="text-muted"><small>Ciphering is a part of a research project between the <a href="http://www.udk-berlin.de/">Berlin University of the Arts</a> and the <a href="http://www.tu-berlin.de/">Technical University Berlin</a>, funded by the <a href="http://www.einsteinfoundation.de/">Einsteinstiftung</a> under <a href="http://www.hybrid-plattform.org/">hybrid plattform</a>.<br>For more information please email <a href="mailto:jussi.angesleva@iki.fi">jussi.angesleva@iki.fi</a>.</small></p>
