<section id="about">
    <img src="/images/bg_1.png" class="bg">
    <div class="content">
        <div class="container">
            <div class="text">
                <p>Ciphering is a personalised ring which physical form encodes numbers of your choosing.</p>
                <p>The message becomes visible only when you take the ring off your finger and either shine light, or look through it in a correct angle.</p>
                <p>Your input of four numbers and four letters are fed to an algorithm that generates the unique shape.</p>
                <p>First the form is 3D printed in wax, and subsequently cast in silver, bronze or gold plated brass.</p>
            </div>
        </div>
    </div>
</section>

<section id="how-it-works">
    <div class="container">
        <h1>How it works</h1>
        <img src="/images/principle.svg">
        <div class="row">
            <div class="col-sm-2">You can direectly look through the ring, Or shine light through it.</div>
            <div class="col-sm-2 col-sm-offset-3">You can direectly look through the ring, Or shine light through it.</div>
            <div class="col-sm-2 col-sm-offset-3">You can direectly look through the ring, Or shine light through it.</div>
        </div>

        <div class="row images">
            <div class="col-xs-4"><img src="/images/image01.small.jpg"></div>
            <div class="col-xs-4"><img src="/images/image02.small.jpg"></div>
            <div class="col-xs-4"><img src="/images/image01.small.jpg"></div>
        </div>
    </div>
</section>

<section id="production">
    <img src="/images/bg_3.png" class="bg">
    <div class="content">
        <div class="container">
            <h1>Production</h1>
        </div>
    </div>
    <div class="container">
        <ol class="flow row">
            <li class="col-sm-2"><div class="box">You enter date, intials, ring size and material of choice.</div></li>
            <li class="col-sm-2"><div class="box">An 3D model is individually generated.</div></li>
            <li class="col-sm-2"><div class="box">You get a preview rendering and price quote.</div></li>
            <li class="col-sm-2"><div class="box">You order and pay for your ring at Shapeways.</div></li>
            <li class="col-sm-2"><div class="box">Shapeways produces your individual ring.</div></li>
            <li class="col-sm-2"><div class="box">… and shipped to you!<br> </div></li>
        </ol>
    </div>
</section>

<section id="order">
    <div class="container">
        <h1>Order</h1>

        <form role="form" name="orderform" ng-controller="OrderController" novalidate ng-submit="createOrder(order)">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group digits">
                        <label for="digits">Digits</label>
                        <span class="text-danger" ng-if="orderform.digits.$dirty &amp;&amp; orderform.digits.$error.required">This field is required</span>
                        <span class="text-danger" ng-if="orderform.digits.$error.pattern">The format needs to be ##.##</span>
                        <input type="text" xx-autofocus class="form-control input-lg" name="digits" id="digits" placeholder="##.##" maxlength="5" ng-pattern="/^[0-9]{2}.[0-9]{2}$/" required ng-model="order.digits">
                    </div>
                    <div class="form-group initials">
                        <label for="digits">Initials</label>
                        <div class="row">
                            <div class="col-xs-6">
                                <span class="text-danger" ng-if="orderform.initials1.$error.pattern">Capital letters please</span>
                                <input type="text" class="form-control input-lg" name="initials1" id="initials1" placeholder="AB" maxlength="2" ng-pattern="/^[A-Z]{0,2}$/" ng-model="order.initials1">
                            </div>
                            <div class="col-xs-6">
                                <span class="text-danger" ng-if="orderform.initials2.$error.pattern">Capital letters please</span>
                                <input type="text" class="form-control input-lg" name="initials2" id="initials2" placeholder="CD" maxlength="2" ng-pattern="/^[A-Z]{0,2}$/" ng-model="order.initials2">
                            </div>
                        </div>
                        <span class="help-block">These will be «engraved» on the ring inside</span>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group ringsizes">
                        <label for="ringsize">Ring Size (diameter) <small><a href="http://www.ringsizes.co/" target="_blank">conversion table</a></small></label>
                        <select name="ringsize" ng-model="order.ringsize" ng-options="value.diameter+' mm' for value in ringsizeChoices" class="form-control input-lg" id="ringsize"></select>
                    </div>
                    <div class="form-group materials">
                        <label for="material">Material</label>
                        <div class="row">
                            <div class="col-xs-4"><div ng-if="order.material" ng-style="{backgroundImage: 'url('+order.material.swatch+')'}" class="swatch"></div></div>
                            <div class="col-xs-8"><select name="material" ng-model="order.material" ng-options="value.title for value in materialChoices" class="form-control input-lg" id="material"></select></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group email">
                        <label for="digits">E-Mail</label>
                        <span class="text-danger" ng-if="orderform.email.$error.email">Please enter a valid e-mail address</span>
                        <span class="text-danger" ng-if="orderform.email.$dirty &amp;&amp; orderform.email.$error.required">This field is required</span>
                        <input type="email" class="form-control input-lg" name="email" id="email" required ng-model="order.email">
                        <span class="help-block">We only use this to notify you when your ring is ready to order.</span>
                    </div>
                    <p><button class="btn btn-primary btn-lg" ng-disabled="orderform.$invalid">Create Ring</button></p>
                </div>
            </div>
            <div class="row">
            </div>
        </form>
    </div>

    <div class="container who">
        <h1>Who</h1>
        <p>Ciphering is a part of a research project between the <a href="http://www.udk-berlin.de/">Berlin University of the Arts</a> and the <a href="http://www.tu-berlin.de/">Technical University Berlin</a>, funded by the <a href="http://www.einsteinfoundation.de/">Einsteinstiftung</a> under <a href="http://www.hybrid-plattform.org/">hybrid plattform</a>.<br>For more information please email <a href="mailto:jussi.angesleva@iki.fi">jussi.angesleva@iki.fi</a>.</p>
    </div>
</section>
