.materials {
    .swatch {
        width: 100%;
        height: 46px;
        background-size: cover;
    }
}

.preview {
    border: 0;
    display: block;
    padding-bottom: 75%;
    background: image-url('photo.jpg') center center no-repeat;
    background-size: cover;
    margin-bottom: 1em;
}

.debug {
    opacity: 0;
    @include transition(0.5s ease opacity);

    &:hover {
        opacity: 1;
    }
}
