<!DOCTYPE html>
<html lang="en" ng-app="ciphering" ng-controller="MainController">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title ng-bind="pageTitle"></title>
        <!--(if target dev)><!-->
        <!-- bower:css -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/lib/bootstrap-lightbox/docs/assets/css/bootstrap-lightbox.css">
        <!-- endbower -->
        <link rel="stylesheet" href="/css/screen.css">
        <!--<!(endif)-->
        <!--(if target dist)>
        <link rel="stylesheet" href="/stylesheets/screen.min.css">
        <!(endif)-->
    </head>
    <body>
        <section id="about">
            <div class="container">
                <h1>Ciphering <small>personalised generative jewellery</small></h1>

                <p>Ciphering is a personalised ring which physical form encodes numbers of your choosing.</p>
                <p>The message becomes visible only when you take the ring off your finger and either shine light, or look through it in a correct angle.</p>
                <p>Your input of four numbers and four letters are fed to an algorithm that generates the unique shape.</p>
                <p>First the form is 3D printed in wax, and subsequently cast in silver, bronze or gold plated brass.</p>
            </div>
        </section>

        <section id="how-it-works">
            <div class="container">
                <h1>How it works</h1>

                <img src="/images/principle.svg">
            </div>
        </section>

        <section id="gallery">
            <div class="container">

                <div class="row images">
                    <div class="col-md-4"><img src="/images/image01.small.jpg"></div>
                    <div class="col-md-4"><img src="/images/image02.small.jpg"></div>
                    <div class="col-md-4"><img src="/images/image01.small.jpg"></div>
                </div>
            </div>
        </section>

        <section id="production">
            <div class="container">

                <h1>Production</h1>

                <ol>
                    <li>You enter date, intials, ring size and material of choice.</li>
                    <li>You enter date, intials, ring size and material of choice.</li>
                    <li>You enter date, intials, ring size and material of choice.</li>
                    <li>You enter date, intials, ring size and material of choice.</li>
                    <li>You enter date, intials, ring size and material of choice.</li>
                    <li>… and shipped to you!</li>
                </ol>
            </div>
        </section>

        <section id="order">
            <div class="container">
                <h1>Order</h1>

                <div class="row" ng-controller="OrderController">
                    <div class="col-md-8 col-md-push-4"><div class="img-rounded preview"></div></div>
                    <div class="col-md-4 col-md-pull-8">
                        <form role="form" name="orderform" novalidate ng-submit="createOrder(order)">
                            <div class="form-group digits">
                                <label for="digits">Digits</label>
                                <span class="text-danger" ng-if="orderform.digits.$dirty &amp;&amp; orderform.digits.$error.required">This field is required</span>
                                <span class="text-danger" ng-if="orderform.digits.$error.pattern">The format needs to be ##.##</span>
                                <input type="text" xx-autofocus class="form-control input-lg" name="digits" id="digits" placeholder="##.##" maxlength="5" ng-pattern="/^[0-9]{2}.[0-9]{2}$/" required ng-model="order.digits">
                            </div>
                            <div class="form-group initials">
                                <label for="digits">Initials</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <span class="text-danger" ng-if="orderform.initials1.$error.pattern">Capital letters please</span>
                                        <input type="text" class="form-control input-lg" name="initials1" id="initials1" placeholder="AB" maxlength="2" ng-pattern="/^[A-Z]{0,2}$/" ng-model="order.initials1">
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="text-danger" ng-if="orderform.initials2.$error.pattern">Capital letters please</span>
                                        <input type="text" class="form-control input-lg" name="initials2" id="initials2" placeholder="CD" maxlength="2" ng-pattern="/^[A-Z]{0,2}$/" ng-model="order.initials2">
                                    </div>
                                </div>
                                <span class="help-block">These will be «engraved» on the inside</span>
                            </div>
                            <div class="form-group ringsizes">
                                <label for="ringsize">Ring Size (diameter)</label>
                                <select name="ringsize" ng-model="order.ringsize" ng-options="value.diameter+' mm' for value in ringsizeChoices" class="form-control input-lg" id="ringsize"></select>
                                <span class="help-block"><a href="http://www.ringsizes.co/" target="_blank">conversion table</a></span>
                            </div>
                            <div class="form-group materials">
                                <label for="material">Material</label>
                                <div class="row">
                                    <div class="col-xs-4"><div ng-if="order.material" ng-style="{backgroundImage: 'url('+order.material.swatch+')'}" class="swatch"></div></div>
                                    <div class="col-xs-8"><select name="material" ng-model="order.material" ng-options="value.title for value in materialChoices" class="form-control input-lg" id="material"></select></div>
                                </div>
                            </div>
                            <div class="form-group email">
                                <label for="digits">E-Mail</label>
                                <span class="text-danger" ng-if="orderform.email.$error.email">Please enter a valid e-mail address</span>
                                <span class="text-danger" ng-if="orderform.email.$dirty &amp;&amp; orderform.email.$error.required">This field is required</span>
                                <input type="email" class="form-control input-lg" name="email" id="email" required ng-model="order.email">
                                <span class="help-block">We only use this to notify you when your ring is ready to order.</span>
                            </div>
                            <hr>
                            <p><button class="btn btn-success" ng-disabled="orderform.$invalid">Create Ring</button></p>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section id="who">
            <div class="container">
                <h1>Who</h1>
                <p>Ciphering is a part of a research project between the <a href="http://www.udk-berlin.de/">Berlin University of the Arts</a> and the <a href="http://www.tu-berlin.de/">Technical University Berlin</a>, funded by the <a href="http://www.einsteinfoundation.de/">Einsteinstiftung</a> under <a href="http://www.hybrid-plattform.org/">hybrid plattform</a>.<br>For more information please email <a href="mailto:jussi.angesleva@iki.fi">jussi.angesleva@iki.fi</a>.</p>
            </div>
        </section>

        <!--(if target dev)><!-->
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/bootstrap-lightbox/docs/assets/js/bootstrap-lightbox.js"></script>
        <script src="/lib/angular-resource/angular-resource.js"></script>
        <script src="/lib/angular-storage/dist/angular-storage.js"></script>
        <!-- endbower -->
        <script src="/js/controllers/main.js"></script>
        <script src="/js/controllers/home.js"></script>
        <script src="/js/controllers/order.js"></script>
        <script src="/js/services/materials.js"></script>
        <script src="/js/services/ringsizes.js"></script>
        <script src="/js/services/pixeldigits.js"></script>
        <script src="/js/app.js"></script>
        <!--<!(endif)-->
        <!--(if target dist)>
        <script src="/javascripts/app.min.js"></script>
        <!(endif)-->
    </body>
</html>
