<div class="page-header">
    <h1>Order <small>and you shall receive</small></h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form role="form">
            <div class="form-group digits">
                <label for="digits">Digits</label>
                <input type="text" autofocus class="form-control input-lg" name="digits" id="digits" placeholder="##.##" maxlength="5" pattern="[0-9]{2}.[0-9]{2}" ng-model="digits">
            </div>
            <div class="form-group initials">
                <label for="digits">Initials</label>
                <div class="row">
                    <div class="col-xs-6"><input type="text" class="form-control input-lg" name="initials1" id="initials1" placeholder="AB" maxlength="2" pattern="[A-Z]{0,2}" ng-model="initials1"></div>
                    <div class="col-xs-6"><input type="text" class="form-control input-lg" name="initials2" id="initials2" placeholder="CD" maxlength="2" pattern="[A-Z]{0,2}" ng-model="initials2"></div>
                </div>
                <span class="help-block">These will be «engraved» on the inside</span>
            </div>
            <div class="form-group ringsizes">
                <label for="ringsize">Ring Size (diameter)</label>
                <select name="ringsize" ng-model="ringsize" ng-options="value.diameter+' mm' for value in ringsizeChoices" class="form-control input-lg" id="ringsize"></select>
                <span class="help-block"><a href="http://www.ringsizes.co/" target="_blank">conversion table</a></span>
            </div>
            <div class="form-group materials">
                <label for="material">Material</label>
                <div class="row">
                    <div class="col-md-4"><div ng-if="material" ng-style="{backgroundImage: 'url('+material.swatch+')'}" class="swatch"></div></div>
                    <div class="col-md-8"><select name="material" ng-model="material" ng-options="value.title for value in materialChoices" class="form-control input-lg" id="material"></select></div>
                </div>
            </div>

            <hr>
            <p><button class="btn btn-default" ng-click="create()">Create</button></p>

        </form>
    </div>

    <div class="col-md-8 img-rounded preview"></div>
</div>

<hr>

<p>
    <h5>Debugging</h5>
    <pre><div ng-repeat="row in pixelgrid">{{ row }}</div></pre>
    <pre>{{ parameters }}</pre>
</p>


<!-- <p ng-if="!authenticated"><a href="http://localhost:5000/authenticate/?return_url=http://localhost:4000/order?authenticated=1" class="btn btn-default">Authenticate</a></p> -->
